* {
  margin: unset;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

main {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

#map-icon {
  width: 65px;
  margin-left: 10px;
}
